/* css for profile */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    width: 100%;
    height: 10vh;
  
    text-align: left;
    padding: 2%;
    padding-left: 1%;
    padding-top: 3%;
  
    font-size: 4.5rem;
    color: #044e8b;
  
    position: flex;
}

.link {
    transform: translateY(-.75rem);
  
    display: flex;
    flex-direction: column;
    margin-top: 0;
  
    justify-content: center;
    justify-items: center;
    text-align: center;
  
    text-decoration: none;
}

.navLogo {
    transform: translateY(-.25rem);
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: .4s background-size;
    background-position-y: 90%;
}

.navLogo:hover {
    background-position-y: 90%;
    background-size: 100% .1em;
    cursor: pointer;
}

.navButton {
    width: 3rem;
    height: 3.5rem;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    font-size: 1.2rem;


    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: .4s background-size;
}

.navButton:hover {
    background-size: 100% .1em;
    cursor: pointer;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    border-top: #044e8b solid 6px;
    display: flex;
    width: 80%;
    height: fit-content;

    background-color: white;
    flex-direction: row;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.left {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.right {
    display: flex;
    flex: 1;

    padding: 2rem;
    flex-direction: column;
    /* justify-content: space-between; */
}

.nameContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.bigName {
    display: flex;
    font-size: 4.5rem;
    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.schoolName {
    display: flex;
    font-size: 1.5rem;
    font-family: bebas-neue-pro, sans-serif;

    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.contactInfoContainer {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.contactInfo {
    display: flex;
    width: 45%;
    height: fit-content;
    color: #044e8b;
    font-size: 1.25rem;
}

.roleText {
    margin-top: auto;
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: bold;
}

.fieldChangeContainer {
    margin-top: 3rem;
    border-top: #044e8b solid 6px;
    display: flex;
    width: 80%;
    height: fit-content;

    background-color: white;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.fieldChangeTitle {
    display: flex;
    width: 100%;
    height: fit-content;

    padding: .5rem;
    font-size: 2rem;
    text-align: left;
}

.infoContainer {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    padding-top: 0rem;
}

.description {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
}

.infoInput {
    display: flex;
    width: 100%;
    border: 3px #044e8b solid;
    font-family: bebas-neue-pro, sans-serif;

    padding: .9rem;
    /* background-color: #f1f1f1; */

    font-size: 1rem;
    font-family: bebas-neue-pro, sans-serif;
}

.infoRow {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.descriptionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.firstHalfDescription {
    display: flex;
    width: 45%;
    font-size: 1.5rem;
}

.lastHalfDescription {
    display: flex;
    width: 45%;
    font-size: 1.5rem;
}

.splitInputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.splitInput {
    display: flex;
    width: 45%;
    border: 3px #044e8b solid;
    font-family: bebas-neue-pro, sans-serif;

    padding: .9rem;
    /* background-color: #f1f1f1; */

    font-size: 1rem;
    font-family: bebas-neue-pro, sans-serif;
}

.splitInput::placeholder {
    font-family: bebas-neue-pro, sans-serif;
}

.updateButton {
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    display: flex;
    width: 80%;
    border: solid 3px #044e8b;
    
    background-color: #044e8b;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;
    justify-content: center;
    font-family: bebas-neue-pro, sans-serif;
    padding: 0.75rem;


    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.updateButton:hover, .updateButton:focus, .updateButton:active {
    cursor: pointer;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}