/* css for dashboard */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 10vh;

  text-align: left;
  padding: 2%;
  padding-left: 1%;
  padding-top: 3%;

  font-size: 4.5rem;
  color: #044e8b;

  position: flex;
}

.link {
  transform: translateY(-0.75rem);

  display: flex;
  flex-direction: column;
  margin-top: 0;

  justify-content: center;
  justify-items: center;
  text-align: center;

  text-decoration: none;
}

.navLogo {
  transform: translateY(-0.25rem);
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.4s background-size;
  background-position-y: 90%;
}

.navLogo:hover {
  background-position-y: 90%;
  background-size: 100% 0.1em;
  cursor: pointer;
}

.navButton {
  width: 3rem;
  height: 3.5rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  border: none;
  font-size: 1.2rem;

  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.4s background-size;
}

.navButton:hover {
  background-size: 100% 0.1em;
  cursor: pointer;
}

.dashContainer {
  display: flex;
  margin-top: 3rem;
  width: 100%;

  flex-direction: column;
}

.dashLabelContainer {
  display: flex;
  width: 100%;
}

.filterLabel {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  width: 21%;

  text-align: left;

  font-size: 1.5rem;
  margin-left: 2%;

  border-top: #044e8b solid 6px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.dashLabel {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  width: 73%;

  justify-self: right;
  align-self: right;
  text-align: left;

  font-size: 1.5rem;
  margin-left: 2%;
  margin-right: 2%;

  border-top: #044e8b solid 6px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.dashContentContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 10rem;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 2%;
  padding: 0.5rem;

  width: 21%;
  height: fit-content;

  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.filterCategoryLabel {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
}

.filterInputandDescriptionContainer {
  margin-left: 0.75rem;
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
}

.filterInput {
  display: flex;
  width: 1rem;
  height: 1rem;

  margin-right: 0.5rem;
  transform: translateY(-1.25px);
}

.filterDescription {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: 1rem;
  font-family: bebas-neue-pro, sans-serif;
}

.dashContent {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 2%;
  margin-right: 2%;

  width: 73%;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: left;
}

.clubContainer {
  display: flex;
  width: 22%;
  height: 22.5rem;
  margin-right: 4%;

  color: black;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

  flex-direction: column;
  text-decoration: none;
}

.clubContainer:hover {
  cursor: default;
}

.clubImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 1rem;
  /* background-color: pink; */
}

.clubImagesContainer img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.clubName {
  /* display: flex; */
  width: 100%;
  font-size: fit-content;
  height: fit-content;
  font-family: bebas-neue-pro, sans-serif;
  text-align: center;
  font-weight: bold;

  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.cost {
  margin-left: 0.5rem;
  font-size: 1.3rem;

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clubExtra {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  flex: 1;
  border-top: #044e8b solid 5px;
  border-bottom: none;
  border-right: none;
  border-left: none;

  font-family: bebas-neue-pro, sans-serif;
  font-size: 1rem;
  /* text-transform: underline; */
  text-align: center;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#044e8b 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
}

.addToCartText {
  font-size: 1.625rem;
  padding: 0.25rem;
  /* color: #044e8b; */
}

.clubExtra:hover {
  cursor: pointer;
  --p: 100%;
  color: white;
  /* text-decoration: underline; */
}
