.multi-select-dropdown {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;

  font-family: bebas-neue-pro, sans-serif;
  border: none;
  font-size: 1.5rem;
}

.dropdown-header {
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: bebas-neue-pro, sans-serif;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #044e8b;
  transition: 300ms linear all;
  /* margin: 10px; */
  margin-right: 10px;
}

.arrow:hover {
  -ms-transform: rotate(90deg);
  /* IE 9 */

  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */

  transform: rotate(90deg);
  transition: 100ms linear all;
}

.dropdownItems {
  font-family: bebas-neue-pro, sans-serif;
}

.dropdown-content {
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-family: bebas-neue-pro, sans-serif;
}

.selected-options {
  padding: 0;
  border-top: 1px solid #ccc;
  font-weight: bold;
  border: none;
}