/* club view css */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    width: 100%;
    height: 10vh;
  
    text-align: left;
    padding: 2%;
    padding-left: 1%;
    padding-top: 3%;
  
    font-size: 4.5rem;
    color: #044e8b;
  
    position: flex;
}

.link {
    transform: translateY(-.75rem);
  
    display: flex;
    flex-direction: column;
    margin-top: 0;
  
    justify-content: center;
    justify-items: center;
    text-align: center;
  
    text-decoration: none;
}

.navLogo {
    transform: translateY(-.25rem);
    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: .4s background-size;
    background-position-y: 90%;
}

.navLogo:hover {
    background-position-y: 90%;
    background-size: 100% .1em;
    cursor: pointer;
}

.navButton {
    width: 3rem;
    height: 3.5rem;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    font-size: 1.2rem;


    background: linear-gradient(currentColor, currentColor) bottom / 0 .1em no-repeat;
	transition: .4s background-size;
}

.navButton:hover {
    background-size: 100% .1em;
    cursor: pointer;
}

.contentContainer {
    margin-top: 3rem;
    display: flex;
    width: 90%;
    height: 75vh;
    margin-left: auto;
    margin-right: 3rem;
}

.imageContainer {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 70%;
    height: 100%;
    margin-right: 5%;

    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.clubContentContainer {
    width: 25%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding-top: 0.5rem;
    
    display: flex;
    flex-direction: column;
}

.clubName {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: bold;

    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 0.5rem;
    padding-bottom: 0;
}

.cost {
    display: flex;
    padding-left: 0.5rem;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: #044e8b solid 5px;
}

.clubDescriptionTitle {
    display: flex;
    width: 100%;
    height: fit-content;

    font-size: 1.25rem;
    font-weight: bold;
    font-family: bebas-neue-pro, sans-serif;
    padding-left: 0.5rem;
    padding-top: 0.5rem;

    border-top: #044e8b solid 5px;
}

.clubDescription {
    display: flex;
    flex: 1;

    width: 100%;
    padding: 0.5rem;
    padding-left: 0.5rem;

    font-family: bebas-neue-pro, sans-serif;
    
}

.clubDescriptionText {
    display: flex;
    width: 100%;
    font-family: bebas-neue-pro, sans-serif;
}

.clubExtra {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    flex: 0.25;
    border-top: #044e8b solid 5px;
    border-bottom: none;
    border-right: none;
    border-left: none;

    font-family: bebas-neue-pro, sans-serif;
    font-size: 1rem;
    text-transform: underline;
    text-align: center;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#044e8b 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
}

.addToCartText {
    font-size: 1.625rem;
    /* color: #044e8b; */
}

.clubExtra:hover {
    cursor: pointer;
    --p: 100%;
    color: white;
    text-decoration: underline;
}