/* ! To anyone reading this name your fucking css classes properly */
/* ! use camel case and make it meaningful */
/* ! also use css modules like i'm doing here so that all the css is only applied to one file and isn't a cluster fuck */

.main {
  background-color: #f1f1f1;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ! NavBar CSS */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  text-align: left;
  padding: 1%;

  font-size: 4.5rem;
  color: #044e8b;

  position: fixed;
}
.navButton {
  font-size: 2.7rem;

  white-space: nowrap;

  padding: 0.5% 3% 0.5% 3%;

  border-radius: 1.5rem;

  background-color: #044e8b;
  color: white;

  border: 1px solid black;
}
.navButton:hover {
  background-color: rgba(4, 78, 139, 0.9);
  cursor: pointer;
}

/* ! First Container CSS */
.firstContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding-top: 3%;

  width: 100%;
  height: 100vh;
}

/* ! Login Form CSS */
.loginForm {
  width: 40%;
  height: 50%;

  background-color: #ffffff;

  border-radius: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* Input Stuff */
.inputContainer {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 25%;
}
.inputDesc {
  font-size: 2rem;
}
.inputField {
  width: 100%;
  height: 60%;

  background-color: #bfbfbf;
  border: none;

  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.inputButton {
  width: 80%;
  height: 20%;

  background-color: #044e8b;
  color: white;

  font-size: 2rem;
  letter-spacing: 2px;
  border-radius: 1rem;
  border: none;
}

.inputExtra {
  color: black;
  text-decoration: none;

  font-size: 1.5rem;
}

.errorContainer {
  color: red;
  background-color: grey;
  width: 80%;
  padding: 1% 0 1% 0;
  text-align: center;
}

/* Right Text Stuff */
.rightText {
  text-align: right;
  white-space: nowrap;

  color: #044e8b;

  font-size: 7vi;
}

/* ! Media Queries */
@media (max-width: 600px) {
  .firstContainer {
    flex-direction: column;
  }

  .loginForm {
    width: 80%;
  }
  .rightText {
    text-align: center;

    font-size: 10vw;
  }
}

@media (max-height: 500px) {
  .inputDesc {
    display: none;
  }
  .inputContainer {
    height: 50%;
  }
  .inputField {
    padding: 2%;
  }
}
